@tailwind base;

 @layer base {
	h1 {
		@apply text-2xl;
		@apply font-antonio;
		@apply text-white
	}

	h2 {
		@apply text-xl; 
		@apply font-antonio;
		@apply text-white
	}
	
	h3, button {
		@apply text-2lg;
		@apply font-spartan;
		@apply text-white
	}

	h4 { 
		@apply text-lg;
		@apply font-spartan;
		@apply text-white
	}

	p {
		@apply text-base;
		@apply font-spartan;
		@apply text-white
	}

	hr {
		@apply border-greyLight;
		opacity: 30%;
	}

	body {
		height: 100vh;
		@apply bg-blueBG
	}
 }

@tailwind components;
@tailwind utilities;

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
/* 
font-family: 'Antonio', sans-serif;
font-family: 'League Spartan', sans-serif; 
*/